body {
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.029871323529411797) 0%, rgba(28,240,196,0.9962578781512605) 50%, rgba(0,0,0,1) 100%);
}

/* Text */
h1 {
  font-family: 'Overlock', sans-serif;
  font-weight: 900;
  color: rgb(34, 255, 0);
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Overlock', sans-serif;
  font-weight: 500;
  font-size: 3em;
  color: #09f4aa;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Overlock', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  font-family: 'Overlock', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  margin-bottom: 10px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #ffffff;
  padding: 16px 16px;
  text-decoration: none;
}

p {
  font-family: 'Overlock', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

/* top navigation */

.topNav {
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}

.topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topNav li {
  display: inline;
}

.topNav li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
}

.topNav .active {
  padding: 20px;
  color: #000000;
  background-color: rgb(34, 255, 0);
}

/* main  */

main {
  display: grid;
  justify-content: center;
}

/* start grid container */
.topNav {
  grid-area: header;
}

.topDisplay-container {
  grid-area: top;
}
.changeBkgrndColor {
  grid-area: right;
}
.logoImg {
  grid-area: left;
}
.links-container {
  grid-area: main;
}
.pitch-container {
  grid-area: main2;
}
.footer-container {
  grid-area: footer;
}


.grid-container {
 display: grid;
 grid-template-areas: 'header header header header header header' 'left top top top top right' 'left main main main main right' 'main2 main2 main2 main2 main2 main2' 'main3 main3 main3 main3 main3 main3' 'footer footer footer footer footer footer';
  grid-gap: 0px;
  row-gap: 20px;
  column-gap: 20px;
  max-width: 800px;;
  margin: 50px;
  margin-top: 30px;
  padding-bottom: 50px;
  background-color: rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}


header {
  max-width: 100%;
  height: 80px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
  background-color: #30015c;
  text-align: center;
  justify-content: center;
}

.topDisplay-container {
  max-width: 100%;
}

.links-container {
  text-align: center;
}

div ul {
  list-style-type: none;
}

div ul li {
  display: inline;
}

div ul li a {
  font-family: 'Overlock', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  text-decoration: none;
  padding: 20px;
  color: aqua;
  text-align: center;
}
.pitch-container {
  padding: 20px;
  text-align: center;
}

/* footer */
footer {
  max-width: 100%;
  background-color: #30015c;
}

.footer-container {
  text-align: center;
  justify-content: center;
}
