body {
  background: rgb(0, 0, 0);
}

header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
  background-color: #30015c;
  text-align: center;
}

/* Text */
h1 {
  font-family: 'Overlock', sans-serif;
  font-weight: 900;
  color: rgb(34, 255, 0);
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Overlock', sans-serif;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Overlock', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  font-family: 'Overlock', sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  margin-bottom: 10px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #ffffff;
  padding: 16px 16px;
  text-decoration: none;
}

p {
  font-family: 'Overlock', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

/* top navigation */

.topNav {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}

.topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topNav li {
  display: inline;
}

.topNav li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
}

.topNav .active {
  padding: 20px;
  color: #000000;
  background-color: rgb(34, 255, 0);
}

/* main  */

main {
  display: grid;
  justify-content: center;
}

main .grid-container {
  display: grid;
  grid-template-columns: 150px 200px 200px 200px 150px;
  grid-template-rows: 100px 200px 200px 200px 200px 200px 200px 200px 100px;
  grid-gap: 0px;
  row-gap: 20px;
  column-gap: 0px;
  max-width: 900px;;
  margin: 30px;
  margin-top: 30px;
  padding-bottom: 50px;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}
section .topDisplay-container {
  display: grid;
  grid-column: 1 span 5;
  grid-row-start: 1;
  grid-row-end: 3;
  max-width: 100%;
  background: #74f3ff82;
  /* text-align: center;
  justify-content: center; */
  /* margin-top: 20px; */
}
/* 
section .topDisplay-container #logoImg {
  grid-column: 1 / 5;
  grid-row: 1;
  width: 60px;
  height: 60px;
  border: #8503ff;
  border-style: solid;
  border-width: 2px;
} */

.topDisplay-container h1 {
  grid-column: 1 / span 5;
  grid-row: 1;
  text-align: center;
}
.topDisplay-container p {
  grid-column: 1 / span 5;
  grid-row: 2;
  text-align: center;
}

.links-container {
  grid-column: 2 / span 3;
  grid-row: 3;
  text-align: center;
}

.pitch-container {
  grid-column: 1 / span 5;
  grid-row-start: 4;
  grid-row-end: 8;
  width: 500px;
  height: 700px;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  border: #8503ff;
  border-style: solid;
  border-width: 2px;
}

/* footer */
footer {
  display: grid;
  max-width: 100%;
  background-color: #30015c;
}

.footer-container {
  grid-column: 1 / span 5;
  grid-row: 5;
  text-align: center;
  justify-content: center;
  margin: 20px;
}
