body {
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

#quiz {
  display: block;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
/* Create CSS classes for hiding and showing elements. */
.hidden {
  display: none;
}

.visible {
  display: block;
}
.answer-img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  margin: 10px;
}

.hidden {
  display: none;
}
