/* Global settings */

body {
  background: rgb(0, 0, 0);
}

header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
  background-color: #30015c;
  text-align: center;
}

/* Text */
h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  color: rgb(34, 255, 0);
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
  /* margin-bottom: 10px; */
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  /* margin-top: 100px;
  margin-bottom: 40px; */
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  /* margin-bottom: 20px; */
}

h4 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 3em;
  color: #ffffff;
  text-align: center;
  /* margin-bottom: 10px; */
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #ffffff;
  padding: 16px 16px;
  text-decoration: none;
}

p {
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

/* top navigation */

.topNav {
  display: flex;
  padding: 15px;
  justify-content: space-around;
  align-items: center;
}

.topNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.topNav li {
  display: inline;
}

.topNav li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
}

.topNav .active {
  padding: 20px;
  color: #000000;
  background-color: rgb(34, 255, 0);
}

/* main  */

main {
  /* display: grid; */
  justify-content: center;
}

/* .topDisplay {
  grid-area: top;
} */
#topRowGame {
  grid-area: top;
}

#quiz {
  grid-area: main2;
}

#answers {
  grid-area: main5;
}

#result {
  grid-area: main3;
}

footer {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header' 'top top top top top top' 'main1 main1 main1 main1 main1 main1' 'main2 main2 main2 main2 main2 main2' 'main5 main5 main5 main5 main5 main5' 'main3 main3 main3 main3 main3 main3' 'footer footer footer footer footer footer';
  /* grid-gap: 220px;
  row-gap: 80px; */
  column-gap: 0px;
  margin: 30px;
  margin-top: 30px;
  padding-bottom: 50px;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

/* section */

/* .topDisplay {
  background: #30015c;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
} */

.game-container {
  /* position: relative; */
  /* display: block; */
}

#start {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

#playerName {
  position: absolute;
  height: 50px;
  width: 300px;
  color: #000000;
  font-size: 16px;
  text-align: center;
  border-width: 8px;
  border-style: solid;
  border-color: #ff00d9;
  background: #26ff00;
  box-shadow: 0 0 10px rgba(255, 0, 238, 0.982);
  justify-content: center;
  align-items: center;
}

#startButton {
  position: relative;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: rgb(21, 255, 0);
  border-width: 8px;
  border-style: solid;
  background: #000000;
  border-image: linear-gradient(to top, rgb(34, 255, 0), rgb(252, 1, 239)) 1;
  width: 200px;
  cursor: pointer;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 0 40px rgba(255, 0, 238, 0.982);
}

#quiz {
  width: 950px;
  height: 500px;
  border: #53ff03;
  border-style: solid;
  justify-content: center;
  align-items: center;
}

#question {
  /* position: relative; */
  /* width: 600px;
  height: 100px; */
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: rgb(252, 1, 239);
  justify-content: center;
  margin: 20px;
}


#answers {
  /* width: 950px; */
  /* height: 300px; */
  /* margin: 30px; */
  /* border: #03f2ff;
  border-style: solid; */
  justify-content: space-around;
  justify-content: center;
  /* align-items: center; */
}

.answer-img {
  /* display:; */
  width: 250px;
  height: 250px;
  cursor: pointer;
  /* padding: 10px; */
  box-shadow: 0 0 20px rgba(255, 0, 238, 0.982);
  margin: 10px;
  /* align-items: center; */
}

#result {
  width: 950px;
  height: 200px;
  /* padding: 20px; */
  text-align: center;
  border: #8503ff;
  border-style: solid;
  border-image: linear-gradient(to top, rgb(34, 255, 0), rgb(2, 247, 198)) 1;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px;
  margin-bottom: 30px; */
}

#nextButton {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(2, 247, 198);
  border-width: 8px;
  border-style: solid;
  background: #000000;
  border-image: linear-gradient(to bottom, rgb(2, 247, 198), rgb(43, 252, 1)) 1;
  width: 200px;
  cursor: pointer;
  padding: 10px;
  margin: 50px;
  box-shadow: 0 0 10px rgba(43, 252, 1, 0.982);
}

#message {
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: rgb(2, 247, 198);
  text-align: center;
}

/* footer */
footer {
  display: grid;
  width: 100%;
  background-color: #30015c;
  text-align: center;
  justify-content: center;
}

/* .footer-container {
  margin: 20px;
} */

/* Create CSS classes for hiding and showing elements. */
/* .hidden {
  display: none;
}

.visible {
  display: block;
}


.hidden {
  display: none;
} */